<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Winform_Nhom20_BTL.Properties.Settings.csdlflimConnectionString"
            connectionString="Data Source=RAZER;Initial Catalog=csdlflim;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<!--<connectionStrings>
		<add name="csdlflim"
			 connectionString="Data Source=RAZER;Initial Catalog=csdlflim;Integrated Security=True;Trust Server Certificate=True"
			 providerName=".NET Framework Data Provider for SQL Server"/>
	</connectionStrings>-->
</configuration>
